{{!-- https://www.youtube.com/watch?v=23QAc7PjpiI --}}
{{!-- https://docs.mapbox.com/api/search/geocoding/#forward-geocoding this can be used to grab city or state I think
--}}

<body class="bg-info">
  <div class="container">
    <div class="row">

      <div class="col-md-5" style="position:relative; margin-top: -38px; margin-left:215px;">
        {{!-- show category label options --}}
        <ul class="list-group list-group-horizontal" id="filters"></ul>
      </div>

      <div class="container">

        {{!-- https://www.solodev.com/blog/web-design/adding-a-filter-to-your-search-input-using-bootstrap.stml --}}
        <div class="row searchFilter">
          <div class="col-sm-12">
            <div class="input-group">
              <input type="text" id="cuisine" class="form-control"
                aria-label="Text input with segmented button dropdown">

              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="location-dropdown"
                  data-bs-toggle="dropdown" data-city="{{{preferences.city}}}" data-state="{{{preferences.state}}}"
                  aria-expanded="false">
                  {{{preferences.locationDisplay}}}
                </button>
                <div class="dropdown-menu">
                  <form class="px-4 py-3">
                    <div class="mb-3">
                      <label for="dropdown-city" class="form-label">City</label>
                      <input type="text" class="form-control" id="dropdown-city" placeholder="Los Angeles">
                    </div>
                    <div class="mb-3">
                      <label for="dropdown-state" class="form-label">State</label>
                      <input type="text" class="form-control" id="dropdown-state" placeholder="CA">
                    </div>
                    <div class="mb-3">
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck">
                        <label class="form-check-label" for="dropdownCheck">
                          Update Profile
                        </label>
                      </div>
                    </div>
                    <button type="button" class="btn btn-primary" id="location-submit">Submit</button>
                  </form>
                  {{!-- <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">New around here? Sign up</a>
                  <a class="dropdown-item" href="#">Forgot password?</a> --}}
                </div>
              </div>
              <button id="searchBtn" type="button" class="btn btn-primary btn-search"><span
                  class="glyphicon glyphicon-search">&nbsp;</span> <span class="label-icon">Find
                  Restaurant</span></button>
            </div>


          </div>
        </div>
      </div>

      <div class="col-md-5">
        {{!-- show autocomplete options --}}
        <div class="list-group" id="show-list"></div>
      </div>

    </div>

    <section class="display-restaurant">
      {{!-- if a business id has sent following the search for random restaurant, display restaurant data --}}
      {{#if chosenRestaurant.id}}
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-6 col-lg-6">
            <img class="img-fluid rounded-start" src={{chosenRestaurant.image_url}} alt="Restaurant image cap">
          </div>
          <div class="col-md-6 col-lg-6">
            <div class="card-body">
              <h5 class="card-title">{{chosenRestaurant.name}}</h5>
              {{!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's
                content.</p> --}}
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{chosenRestaurant.address}}</li>
              <li class="list-group-item">{{chosenRestaurant.display_phone}}</li>
              {{!-- <li class="list-group-item">Vestibulum at eros</li> --}}
            </ul>
            <div class="card-body">
              <a href="{{chosenRestaurant.url}}" target="_blank" class="card-link">See restaurant page</a>
              <a href="#" class="card-link" type="button" id="like-restaurant">Add to liked</a>
              <a href="#" class="card-link" type="button" id="dislike-restaurant">Don't recommend again</a>
            </div>
          </div>

        </div>
      </div>
        {{/if}}

    </section>

  </div>
  </div>

  <script type="module" src="/js/searchRestaurants.js"></script>